/*--universal styling --*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #7789AA;
  background-color: #051748;
  text-align: center;
  margin: 0 auto;
}

/*--header content--*/

header {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #051748;
  border-bottom: 1px solid seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header img {
  padding-left: 10px;
  height: 80px;
}

header nav {
  display: inline-block;
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
}

nav span {
  display: inline-block;
  padding-right: 20px 15px;
}

a {
  color: seashell;
  padding: 0px 10px;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  header nav {
    display: none;
  }

  header img {
    padding-left: 0px;
    border: 1px solid white;
  }
}

/*-- main content --*/

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image: url(../../resources/media/img-mission-background.jpg);
  padding-top: 70px;
}

.mission-content {
  margin: auto;
  color: seashell;
  background-color: #2D4571;
  opacity: 0.85;
  width: 90%;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  padding-bottom: 10px;
}

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.items img{
  padding: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 300px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#locations {
  background-image: url(../../resources/media/img-locations-background.jpg);
  color: seashell;
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

.location {
  margin: 5px 20px;
  background-color: #2D4571;
  padding: 10px;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locations {
  opacity: 0.85;
}

/*--contact info section --*/

#contact-info {
  height: 200px;
  color: seashell;
  border-bottom: double seashell;
}

/*--footer content --*/

.footer {
  text-align: left;
  padding-left: 20px;
}
